@font-face {
    font-family: Sombeto;
    src: url("../public/Sombeto.otf");
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Sombeto;
    scroll-behavior: smooth;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
    background-color: rgb(85, 170, 219);
}

.menu_navegacion {
    height: 15%;
    width: 100%;
    z-index: 1;
    animation: aparece_menu 1.5s ease-in-out;
}

@keyframes aparece_menu {
    from {
        transform: translateY(-10rem);
    }
}

.menu_navegacion__lista {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_navegacion__lista li {
    list-style: none;
}

.menu_navegacion__lista li a {
    color: black;
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    padding: .5rem 2rem;
    cursor: pointer;
}

.perfil {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.perfil__img {
    position: absolute;
    height: 18rem;
    width: 18rem;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1rem 0 0;
    animation: aparece_circulo 2s ease-in-out;
}

@keyframes aparece_circulo {
    from {
        height: 5rem;
        width: 5rem;
    }
}

.perfil__img img{
    height: 23rem;
    animation: aparece_chica 4s ease-in-out;
}

@keyframes aparece_chica {
    from {
        transform: translateY(30rem);
    }
}

.perfil__texto {
    position: absolute;
    top: 25rem;
    font-size: 60px;
    font-weight: bold;
    animation: aparece_saludo 5s ease-in-out;
} 

@keyframes aparece_saludo {
    from {
        transform: translateY(50rem);
    }
}

.montana1,
.montana2,
.arboleda1,
.arboleda2,
.curva {
    position: absolute;
    filter: drop-shadow(0 0 5px black);
}

.montana1 {
    right: -5rem;
    bottom: -2rem;
    width: 60%;
    animation: aparece_montana 3s ease-in-out;
}

.montana2 {
    left: -4rem;
    bottom: -2rem;
    width: 55%;
    animation: aparece_montana 4s ease-in-out;
}

@keyframes aparece_montana {
    from {
        transform: translateY(35rem);
    }
}

.arboleda1 {
    bottom: 0;
    left: 0;
    animation: aparece_arboleda 1.5s ease-in-out;
}

.arboleda2 {
    bottom: 0;
    right: 0;
    animation: aparece_arboleda 2s ease-in-out;
}

.curva {
    bottom: 0;
    height: 3rem;
    width: 100%;
    animation: aparece_arboleda .5s ease-in-out;
}

@keyframes aparece_arboleda {
    from {
        transform: translateY(8rem);
    }
}

main {
    background-color: #fffcb9;
}

.sobre_mi {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.titulo {
    font-size: 70px;
    font-weight: bold;
    padding: 2rem 0;
    z-index: 2;
}

.sobre_mi__contenido {
    height: 100%;
    width: 100%;
    display: flex;
}

.contenido__izq,
.contenido__der {
    position: relative;
    height: 100%;
    width: 50%;
    border-top: 4px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
}

.contenido__der {
    justify-content: center;
}

.nombre,
.edad,
.vivienda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombre p,
.edad p,
.vivienda p {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    border: 2px solid black;
    padding: .5rem;
    border-radius: 15px;
    background-color: #a57b02;
}

.nombre {
    top: -15rem;
    left: 1rem;
    animation: mover_nombre 2.2s ease-in-out alternate infinite;
}

.edad {
    top: -30rem;
    animation: mover_edad 2s ease-in-out alternate infinite;
}

.vivienda {
    top: -20rem;
    right: 1rem;
    animation: mover_nombre 1.5s ease-in-out alternate infinite;
}

@keyframes mover_nombre {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

@keyframes mover_edad {
    from {
        transform: rotate(-4deg);
    }
    to {
        transform: rotate(4deg);
    }
}

.cuerda {
    background-color: grey;
    height: 40rem;
    width: 5px;
    top: 0;
}

.contenido__der__titulo {
    position: absolute;
    top: auto;
    bottom: 50%;
    font-size: 50px;
    font-weight: bold;
}

.estudios_circulo {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    background-color: #65c466;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

.carrera {
    align-self: flex-start;
    margin: 2rem 0 0;
}

.tecnologias {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c5fdff;
    margin: 3rem 0;
}

.tecnologias__conjunto {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding: 1.5rem 0;
    z-index: 2;
}

.tecnologias__conjunto_1,
.tecnologias__conjunto_2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tecnologias__conjunto_1 {
    transform: translateX(100%);
    animation: mover_slider 10s linear infinite;
}

.tecnologias__conjunto_2 {
    transform: translateX(0);
    animation: mover_slider_2 10s linear 5s infinite;
}

@keyframes mover_slider {
    to {
        transform: translateX(-100%);
    }
}

@keyframes mover_slider_2 {
    to {
        transform: translateX(-200%);
    }
}

.circulo {
    height: 100%;
    width: 20%;
    margin: 0 2rem;
}

.circulo img {
    height: 80%;
}

.curva3 {
    position: absolute;
    top: -4rem;
    height: 5rem;
    width: 100%;
}

.curva2 {
    position: absolute;
    bottom: -4rem;
    height: 5rem;
    width: 100%;
}

.gustos {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gustos__contenido {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    height: 5rem;
    width: 5rem;
    outline: none;
    background-color: rgb(211, 206, 206);
    border: none;
    font-size: 40px;
    font-weight: bold;
    border: 4px solid #a57b02;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 4rem;
}

.boton_izquierda {
    transform: rotate(90deg);
}

.boton_izquierda:active {
    transform: rotate(90deg) scale(0.9);
}

.boton_derecha {
    transform: rotate(-90deg);
}

.boton_derecha:active {
    transform: rotate(-90deg) scale(0.9);
}

.gustos__contenido__caja {
    position: relative;
    height: 90%;
    width: 40%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 25px grey;
    overflow: hidden;
    background-color: #44dbe0cc;
}

.gustos__naturaleza,
.gustos__dibujar {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gustos__contenido__caja h3 {
    margin: 1.5rem 0;
    font-size: 60px;
    transition: all 1s ease-in-out;
}

.titulo_pintar {
    transform: translateY(-6rem);
}

.gustos__montana1,
.gustos__montana2,
.gustos__arboleda {
    position: absolute;
    bottom: -3px;
}

.gustos__montana1 {
    height: 16rem;
    left: 11rem;
    transition: all 1s ease-in-out;
}

.gustos__montana2 {
    height: 20rem;
    left: -7rem;
    transition: all 1.5s ease-in-out;
}

.gustos__arboleda {
    transition: all 2s ease-in-out;
}

.gustos__paleta,
.gustos__pincel {
    position: absolute;
}

.gustos__paleta {
    top: 3rem;
    height: 25rem;
    left: -30rem;
    transform: rotate(-120deg);
    transition: all 1.3s ease-in-out;
}

.gustos__pincel {
    height: 25rem;
    top: -1rem;
    left: 50rem;
    transform: rotate(120deg);
    transition: all 1.7s ease-in-out;
}

.aparecer_titulo_dibujar {
    transform: translateY(0rem);
}

.aparecer_paleta {
    left: 7rem;
}

.aparecer_pincel {
    left: 7rem;
}

.desaparecer_imagenes_naturaleza {
    bottom: -30rem;
}

.desaparecer_titulo_naturaleza {
    transform: translateY(-6rem);
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia__contenido {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia__contenido__cuadro {
    position: sticky;
    height: 15rem;
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2rem 0;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 25px grey;
}

.cuadro1 {
    top: 0;
}

.experiencia__informacion {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #65c466;
}

.experiencia__informacion p {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: #c5fdff;
}

.experiencia__informacion i {
    font-size: 6rem;
    color: #c5fdff;
}

.experiencia__mapa {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}

.experiencia__mapa iframe {
    width: 100%;
    object-fit: cover;
}

.proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectos__contenido {
    position: relative;
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta {
    height: 15rem;
    width: 15rem;
    border: 5px solid #a57b02;
    border-radius: 15px;
    overflow: hidden;
    transform: perspective(600px) rotateY(20deg);
    margin: 0 -3rem;
    cursor: pointer;
    filter: drop-shadow(0 0 5px black);
    transition: all .5s ease-in-out;
    z-index: 1;
}

.carta:hover {
    transform: perspective(600px) rotateY(20deg) translateX(-2rem) translateY(-2rem);
}


.carta img {
    width: 100%;
    object-fit: cover;
}

.mostrar_carta {
    height: 20rem;
    width: 20rem;
    position: absolute;
    transform: none;
    z-index: 5;
}

.mesa {
    position: absolute;
    bottom: 0;
    height: 8rem;
    width: 100%;
    box-shadow: 0 0 20px black;
}